body,
html{
	min-height: 100%;
}

body {
	background-image: url(bgimage2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.blala{
	width: 80%;
	margin: 0 auto;
}


#logo{
	float: left;
	height: 80%;
	width: 100px;
	background-image: url(logo-ex-4.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 2%;
}

.header{
	display: flex;
	height: 80px;
	border-bottom: 1px solid #b82669;
}


.main{
	display: block;
	width: 80%;
	margin: 0 auto;
	color: #212121 ;
}

.footer{
	display: flex;
	border-top: solid 1px #b82669;
	justify-content: center;
}

#navigation{
	float: right;	
}

#navigation ul
li{
	float: right;
	list-style: none;
	padding: 15px 15px 15px 15px;
	font-size: 20px;
	color: #212121;
}

a {
	text-decoration: none;
	color: #212121;
}


.main h1 {
	font-size: 30px
}

.main h2{
	display: inline-block;
	font-size: 20px;
}

.main ul
li{
	color: #212121;
	float: left;
	padding-bottom: 2%;
	list-style: none;
	font-size: 175%;
	height: 50px;
	width: 230px;
	margin: 15px 15px 15px 15px;
	background-color: #FFFFFF;
	border-radius: 20px;
	border: solid 2px #666666;
	text-align: center;
	font-weight: bold;
}

#footer1, #footer2, #footer3, #footer4{
	width: 25%;
}

.footer a{
	color: #666666;
}
#footer1{
	margin-left: 3%;	
	margin-top: 1%;
}
.footer ul
li{	
	list-style: none;
} 

h3{
	color: #b82669;
}

ul li:hover, ul li.active-element { 
	font-weight: bold; 
}

#main-text{
	text-align: center;
	font-weight: none;
} 
